/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*==========================
           GRID 
 =========================*/
 *,
 *:before,
  :after,{
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  .container{
      margin: 0 auto;
      padding-left: 30px;
      padding-right: 30px;
      width: 960px;
  }
 
}
/* ==========================
    custom styles 
=========================== */
body{
    color: rgb(77, 71, 71);
    font: 300 16px/22px "open sans", "helevetica neue", helvetica, Arial, sans-serif;
  
}

a:hover{
    color: #a9b2b9;
}
a{
    color:#648880;
}
.logo{
    border-top: 4px solid #648880;
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    color: #15493e;
}
.tagline{
    margin: 66px 0 22px 0;

}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
}
.primary-footer{
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}
.primary-footer small{
    float: left;
    font-weight: 400;
}
.hero{ 
    line-height: 44px;
    padding: 22px 80px 66px 80px;

}

/* ===================================
p{
    text-align: center;
}
.note{
    text-decoration: underline;
}
p{
    text-shadow: 3px 6px 2px rgba(0, 0, 0, .3);
}
===================================== */
a{
    color: #648880;
    text-decoration: none;
}
a:hover{
    color:#a9b2b9;
}
 a {
    border-bottom: 1px solid #dfe2e5;
}

.primary-nav{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-right: -60px;

}
.tagline{
    text-align: right;
    margin-right: -60px;
    margin-top: auto;
}
.nav{
    text-align: right;
    
}
/* ======================
            list 
========================*/
.nav li{
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.nav li:last-child {
    margin-right: 0;

}
.row,
.row-alt {
    min-width: 960px;
}    
.row{
    background: #fff;
    padding: 66px 0 44px 0;
}
.row-alt {
    background: #cbe2c1;    
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding:    44px 0 22px 0;

}
h1{
    font-size: 33px;
}
h2{
    margin-top: 100px;
}
@media screen and(max-with 600px);
}
.why-attend {
    list-style: square;
    margin: 0 0 22px 30px;
}

form {
    margin-bottom: 22px;
}

input,
select,
textarea {
    font: 300 16px/22px "lato" , "open Sans" , "helvetiva neue", helvetica, arial, sans-serif;
}

.register-group label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}

.register-group input,
.register-group select,
.register-group textarea {
    border: 1px solid #c9c6cc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 27px 0;
    padding: 5px 8px;
}

.register-group input,
.register-group textarea {
    width: 100%;
}

.register-group select {
    height: 64px;
    width: 60px;
}

.register-group textarea{
    height: 78px;
}

.btn-default {
    border: 0;
    background: #648880;
    padding: 11px 30px;
    font-size: 14px;
}

.btn-default:hover{
    background: #77a198;
}
