*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'lato','Arial',sans-serif;
    font-size: 20px;
    font-weight:300px ;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140 px;
    margin: 0 auto;
}
header{
     background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/session2020.jpg);
     background-size: cover;
     background-position: center;
     height: 100vh;
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
       
h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border .2s, color 0.2s;
  
}

/* .btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
} */

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid#e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #62e8ec;
}

.btn-ghost:active,
.btn-ghost:hover{
    color: #000;
}
.navigation a:hover{
    background: #314b60;
    box box-shadow:inset: 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li: first-child a{
    border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    -moz-border-radius:4px 0 0 4px;
    -ms-border-radius:4px 0 0 4px;
    -o-border-radius:4px 0 0 4px;
}
.navigation li: :last-child a {
    border-right: 0;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
}
.navigation ul {
    font: bold 11px "Helvetica neue"; helvetica;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.navigation li{
    display: inline-block;
}
,.navigation a {
    background: #395870;
    background: linear-gradient(#49708f, #293f50);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
}   
